/*Variables*/

:root{
    
    /*Primary*/
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);

    /*Neutral*/

--Very_dark_blue: hsl(212, 21%, 14%);
--Dark_grayish_blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);

    /*Font*/

--ff_p:'Montserrat', sans-serif;
--ff_title_price:'Fraunces', serif;

--body_p:0.875rem; 
--fs_price:2rem;   

--fw_mont_regular:500;
--fw_mont_bold:700;
--fw_frau_bold:700;

    /*Border radius*/

--br_all:0.5rem;

    /*main size*/

--ms_mobile:92vw;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--ff_p);
    font-size: var(--body_p);
    font-weight: var(--fw_mont_regular);
    color: var(--Dark_grayish_blue);
    background-color: var(--Cream);
    display: grid;
    place-items: center;
}

.main{
    width: var(--ms_mobile); 
    margin: 0.92rem;
    border-radius: var(--br_all);
    overflow: hidden;
    background-color: var(--White);
}

.section_image{
    width: 100%;
    height: 70vw;
    background-image: url(/assets/images/image-product-mobile.jpg);
    background-position: center;
    background-size: cover;
} 


.section_info{
    display: grid;
    padding: 22px;
    background-color: var(--White);
}

.info_title{
    margin-top: 12px;
    font-family: var(--ff_title_price);
    font-size: 32px;
    color: var(--Very_dark_blue);
}

.info_description{
    width: 18.43rem;
    margin-top: 25px;
    line-height: 24px;
}

.info_price{
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.actual_price{
    font-family: var(--ff_title_price);
    font-size: var(--fs_price);
    color: var(--Dark-cyan);
}

.previous_price{
    margin-left: 20px;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 79%;
    height: 3rem;
    margin-top: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    font-weight: var(--fw_mont_bold);
    background-color: var(--Dark-cyan);
    color: var(--White);
    border: 0;
    border-radius: var(--br_all);
}

.attribution{}

@media (min-width:600px){
    
    .main{
        display: grid;
        grid-template-columns: 50% 50%;
    }

}